body{
    background-color: #1F1F1F;
}

#container{
    background-color: #1F282F;
}

#container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#container .header .weather-title h2{
    color:#fff;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#container .input-group{
    width: 30%;
}

#container .input-group input{
    background-color: #272E38;
    border-color: #4A515B;
    color: #fff;
}

#container .header .input-group .btn-primary{
    background: rgb(46,222,201);
    background: linear-gradient(331deg, rgba(46,222,201,1) 0%, rgba(34,185,254,1) 100%);    
    border-color: #00e676;
    color: #000;
    font-weight: 600;
}

#container .line{
    width: 100%;
    height: 3px;
    background: rgb(46,222,201);
    background: linear-gradient(331deg, rgba(46,222,201,1) 0%, rgba(34,185,254,1) 100%);    
}

/* card */
#weather{
    margin: 44px auto;
}

#weather .card{
    border: none;
}

#weather .card .header-title{
    background-color: #1F282F;
}

#weather .card .header-title h2{
    font-size: 1.2rem;   
    color: #11B6AF;
    padding: 16px;
}

#weather .card .header-title .line{
    width: 100%;
    height: 3px;
    background: rgb(46,222,201);
    background: linear-gradient(331deg, rgba(46,222,201,1) 0%, rgba(34,185,254,1) 100%);    
}

#weather .card .city-detail{
    position: relative;
}

#weather .card .city-detail .degrade{
    position: absolute;
    width: 100%;
    height: 248px;
    z-index: 1;
    background: rgb(46,222,201);
    background: linear-gradient(331deg, rgba(46,222,201,0) 0%, rgba(34,185,254,1) 70%);
}

#weather .card .city-detail .container-detail{
    background: rgba(49, 56, 66, 0.5);
    display: flex;
    padding: 100px 24px 24px;
}

#weather .card .city-detail .container-detail .body-detail{
    z-index: 1;
}

#weather .card .city-detail .container-detail .body-detail .container-temp{
    display: flex;
    align-items: center;
}

#weather .card .city-detail .container-detail .body-detail .container-temp h3{
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
    margin-right: 8px;
    margin-bottom: 0px;
}

#weather .card .city-detail .container-detail .body-detail .container-temp sup{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

#weather .card .city-detail .container-detail .body-detail p{
    font-size: 1.0rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
}

#weather .card .city-detail .container-detail .body-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#weather .card .city-detail .container-detail .body-icon p{
    margin-bottom: 0;
    font-weight: 600;
    color: #fff;
}

#weather .card .city-detail .container-image img{
    position: absolute;
    top: 0;
    width: 100%;
    max-height: 248px;
    object-fit: cover;
}

#weather .card .city-detail .container-detail .body-detail .container-coordenadas{
    display: flex;
}

#weather .card .city-detail .container-detail .body-detail .container-coordenadas p{
    font-weight: 600;
    color: #fff;
    margin-right: 16px;
    text-transform: capitalize;
}


/*humidity*/

#weather .card .body-card{
    display: flex;
    background-color: #1F282F;
}

#weather .card .body-card .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #11B6AF;
}

#weather .card .body-card .humidity .line, #weather .card .body-card .wind .line, #weather .card .body-card .feels-like .line{
    width: 100%;
    height: 3px;
    background: rgb(46,222,201);
    background: linear-gradient(331deg, rgba(46,222,201,1) 0%, rgba(34,185,254,1) 100%);    
}

#weather .card .body-card .column .body-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

#weather .card .body-card .column .body-text h3{
    font-weight: 600;
}

#weather .card .body-card .column .body-text h3, #weather .card .body-card .column .body-text p{ 
    margin-bottom: 0;
}


